.mySwiper {
  width: 80vw;
  height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ffffff00;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover
}

.swiper-pagination-bullet {
  width: 280px;
  height: 100px;
  text-align: left;
  font-size: 15px;
  color: #ffffff;
  opacity: 1;
  background: rgba(0, 0, 0, 0);
  font-family: "Jura";
  display: none;

}

.swiper-pagination-bullet-active {
  width: 280px;
  height: 100px;
  text-align: left;
  font-size: 20px;
  color: rgb(0, 0, 0);
  opacity: 1;
  background: rgba(255, 255, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.232);
  border-radius: 10px;
  margin-left: 2;
  font-weight: 700;
  font-family: "Jura";
  box-shadow: 1px 1px 5px yellow;

}

.swiper-pagination-bullet b {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 0%;
  height: 10px;
  background-color: rgba(17, 17, 17, 1);
}



@keyframes countingBar {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 100%;
    height: auto;
    text-align: center;
    display: initial;
  }

}