body ,html {
overflow-x: hidden;
}
.swiper2 {
    width: 100vw;
    height: 100vh;
    position: relative;
    
}


.swiper-slide2 {
    text-align: center;
    font-size: 18px;
    background: #ffffff00;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}
